<h1>Listing perves</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Number sold</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @perves.each do |perf| %>
  <tr>
    <td><%= perf.company %></td>
    <td><%= perf.number_sold %></td>
    <td><%= link_to 'Show', perf %></td>
    <td><%= link_to 'Edit', edit_perf_path(perf) %></td>
    <td><%= link_to 'Destroy', perf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Perf', new_perf_path %>
